.App {
  margin: 100px;
  display: flex;
}
.names {
  width: 80%;
  margin-bottom: 20px;
  margin-right: 20px;
}
button {
  width: 100px;
  height: 40px;
}
.content {
  width: 40%;
  border: 1px;
  border-style: solid;
  border-color: black;
}
.namesWrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin-bottom: 1px;
}
.name:active {
  background-color: lightgray;
}
.drag_area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed;
  height: 90%;
  width: 95%;
}
.no_drag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
